---
import { getCollection } from 'astro:content'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import PostCard from '@/components/PostCard.astro'
import { Icon } from 'astro-icon/components'
import { sortCategoryBySortOrder, sortPostByPubDateDesc } from '@/lib/util/sorts'

const categories = (await getCollection('category')).sort(sortCategoryBySortOrder)
const posts = await getCollection('post')
---

<BaseLayout>
  <Header isSticky={true} slot="header" />
  <main class="mx-auto my-4 flex max-w-4xl flex-col gap-4 px-8 lg:px-0" slot="body">
    {
      categories
        .map((category) => ({
          category,
          posts: posts.filter((post) => post.data.category.id === category.id).sort(sortPostByPubDateDesc),
        }))
        .map(({ category, posts }) => {
          return (
            <section>
              <a href={`/blog/${category.id}`} class="inline-block">
                <h1 class="py-4" transition:name={`category-name-${category.id}`}>
                  {category.data.name}
                  <Icon name="material-symbols:arrow-forward" class="inline" />
                </h1>
              </a>
              {posts.length === 0 ? (
                <div>该分类暂无文章</div>
              ) : (
                <>
                  <ul class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
                    {posts.slice(0, 7).map((post, index) => {
                      return (
                        <li
                          class:list={[
                            {
                              'col-span-1 md:col-span-2 lg:col-span-3': index === 0,
                              'col-span-1': index !== 0,
                            },
                          ]}
                        >
                          <PostCard
                            {post}
                            class:list={[
                              {
                                '[--figure-width:100%] md:card-side md:[--figure-width:18rem]': index === 0,
                              },
                            ]}
                          />
                        </li>
                      )
                    })}
                  </ul>
                  {posts.length > 7 && (
                    <div class="text-end">
                      <a href={`/blog/${category.id}`} class="inline-block py-4">
                        <button class="btn btn-primary">
                          <Icon name="material-symbols:arrow-forward" />
                          查看更多
                        </button>
                      </a>
                    </div>
                  )}
                </>
              )}
            </section>
          )
        })
    }
  </main>
  <Footer slot="footer" />
</BaseLayout>
