---
import { getImage } from 'astro:assets'
import '../styles/global.css'
import favicon from '@assets/images/favicon.png'
import defaultBanner from '@assets/images/default_banner.png'

interface Props {
  title: string
  description: string
  image?: string | ImageMetadata
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const optimizedFaviconAvif = await getImage({ src: favicon, format: 'avif', width: 128, height: 128, quality: 80 })
const optimizedFaviconWebp = await getImage({ src: favicon, format: 'webp', width: 128, height: 128, quality: 80 })

const { title, description, image = defaultBanner } = Astro.props

const optimizedImage = await getImage({ src: image, format: 'png', quality: 80 })
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/avif" href={optimizedFaviconAvif.src} />
<link rel="icon" type="image/webp" href={optimizedFaviconWebp.src} />
<meta name="generator" content={Astro.generator} />
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Giscus -->
<!-- https://github.com/giscus/giscus/blob/main/ADVANCED-USAGE.md#meta-tags -->
<meta name="giscus:backlink" content={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={optimizedImage.src} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={optimizedImage.src} />

<!-- Lock Dark Reader -->
<meta name="darkreader-lock" />
