---
import FormattedDate from '@/components/FormattedDate.astro'
import { Icon } from 'astro-icon/components'
import type { CollectionEntry } from 'astro:content'
import type { HTMLAttributes } from 'astro/types'
import { render } from 'astro:content'
interface Props extends HTMLAttributes<'a'> {
  post: CollectionEntry<'post'>
}

const { post, class: className = '', ...rest } = Astro.props

const { remarkPluginFrontmatter } = await render(post)
const minutesRead = (remarkPluginFrontmatter.minutesRead as string | undefined) ?? ''
---

<a href={`/blog/${post.data.category.id}/${post.id}/`} class:list={['card h-full bg-base-200', className]} {...rest}>
  <div class="card-body flex flex-col p-6">
    <h4 class="mb-2 card-title line-clamp-2" transition:name={`title-${post.id}`}>
      {post.data.title}
    </h4>
    <div class="grow">
      <p class="m-0 line-clamp-3 text-sm opacity-80" transition:name={`description-${post.id}`}>
        {post.data.description}
      </p>
    </div>

    <div class="mt-4 flex flex-row flex-wrap gap-x-4 gap-y-2 text-sm opacity-60">
      <div transition:name={`pub-date-${post.id}`} class="tooltip" data-tip="最初发布日期">
        <Icon name="material-symbols:calendar-today" class="inline-block" />
        <FormattedDate date={post.data.pubDate} />
      </div>
      <div transition:name={`updated-date-${post.id}`} class="tooltip" data-tip="上次更新日期">
        <Icon name="material-symbols:history" class="inline-block" />
        <FormattedDate date={post.data.pubDate} />
      </div>
      <div transition:name={`minutes-read-${post.id}`} class="tooltip" data-tip="预计阅读时间">
        <Icon name="material-symbols:timer" class="inline-block" />
        {minutesRead}
      </div>
    </div>
  </div>
</a>
