---
import { Picture } from 'astro:assets'
import FormattedDate from '@/components/FormattedDate.astro'
import { MdOutlineAccessTime } from 'react-icons/md'
import type { CollectionEntry } from 'astro:content'
import type { HTMLAttributes } from 'astro/types'
interface Props extends HTMLAttributes<'a'> {
  post: CollectionEntry<'post'>
}

const { post, class: className = '', ...rest } = Astro.props
---

<a
  href={`/blog/${post.data.category.id}/${post.id}/`}
  class={`card shadow-md dark:bg-base-200 dark:shadow-none ${className ?? ''}`}
  {...rest}
>
  <figure class="w-[var(--figure-width)] flex-shrink-0">
    <Picture
      src={post.data.heroImage}
      alt={post.data.heroImageAlt ?? ''}
      formats={['avif', 'webp']}
      class="h-full object-cover"
      transition:name={`hero-image-${post.id}`}
    />
  </figure>
  <div class="card-body">
    <h4 class="card-title" transition:name={`title-${post.id}`}>
      {post.data.title}
    </h4>
    <p>
      <span transition:name={`description-${post.id}`}>
        {post.data.description}
      </span>

      <div class="flex flex-row flex-wrap">
        <div transition:name={`pub-date-${post.id}`}>
          <MdOutlineAccessTime className="inline-block" />
          <FormattedDate date={post.data.pubDate} />
        </div>
      </div>
    </p>
  </div>
</a>
