---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'
import BaseLayout from './BaseLayout.astro'

import Comments from '@/components/Comments'
import { SITE_TITLE } from '@/consts'
import { Image } from 'astro:assets'

type Props = {
  slug: string
  title: string
  description: string
  pubDate: Date
  updatedDate: Date
  heroImage: ImageMetadata
  heroImageAlt?: string | undefined
}

const { slug, title, description, pubDate, updatedDate, heroImage, heroImageAlt } = Astro.props

const term = `${title} | ${slug}`
---

<BaseLayout title={`${title} | ${SITE_TITLE}`} description={description} image={heroImage?.src}>
  <Header />
  <main>
    <article class="w-full">
      <div class="relative h-[30vh] sm:h-[50vh]">
        <Image
          src={heroImage}
          alt={heroImageAlt ?? ''}
          class="h-full w-full object-cover object-center brightness-50"
          transition:name={`hero-image-${slug}`}
        />
        <div
          class="absolute left-0 top-0 flex h-full w-full flex-col justify-end p-4 text-white sm:pb-8 sm:text-center"
        >
          <h1 class="text-2xl sm:text-4xl" transition:name={`title-${slug}`}>{title}</h1>
          <br />
          <FormattedDate date={pubDate} class="" transition:name={`pub-date-${slug}`} />
          <div transition:name={`updated-date-${slug}`}>
            上次更新于
            <FormattedDate date={updatedDate} class="" />
          </div>
        </div>
      </div>
      <div class="prose mx-auto w-full p-4">
        <div class="mx-auto">
          <slot />
        </div>
        <div class="divider">版权声明</div>
        <p class="mx-auto">
          本页面内容，除特别声明外，均采用 <a
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh-hans"
            target="_blank"
            class="link">CC BY-NC-SA 4.0 Deed</a
          > 协议授权。<div class="divider">评论区</div>
          <Comments term={term} client:idle client:only="react" />
        </p>
      </div>
    </article>
    <Footer />
  </main>
</BaseLayout>
