---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'
import BaseLayout from './BaseLayout.astro'

import Comments from '@/components/Comments.svelte'
import TopToc from '@/components/toc/TopToc.astro'
import { SITE_TITLE } from '@/consts'
import type { MarkdownHeading } from '@astrojs/markdown-remark'
import IconCalendarToday from '~icons/material-symbols/calendar-today'
import IconHistory from '~icons/material-symbols/history'
import IconTimer from '~icons/material-symbols/timer'

type Props = {
  slug: string
  title: string
  description: string
  pubDate: string
  updatedDate: string
  headings: MarkdownHeading[]
  minutesRead: string
}

const { slug, title, description, pubDate, updatedDate, headings, minutesRead } = Astro.props
const term = `${title} | ${slug}`
---

<BaseLayout title={`${title} | ${SITE_TITLE}`} description={description} pubDate={pubDate}>
  <Header slot="header" />
  <main slot="body" data-pagefind-body>
    <article id="article-content" class="w-full">
      <header class="mx-auto flex w-full max-w-prose flex-col items-center px-4 pt-8 pb-4 text-center sm:pt-12">
        <h1
          id="article-title"
          class="text-3xl font-bold sm:text-4xl"
          transition:name={`title-${slug}`}
          data-pagefind-meta="title"
        >
          {title}
        </h1>
        <div id="article-metadata" class="mt-4 flex flex-wrap justify-center gap-4 text-sm opacity-80">
          <div
            id="pub-date"
            transition:name={`pub-date-${slug}`}
            class="tooltip flex items-center gap-1"
            data-tip="最初发布日期"
          >
            <IconCalendarToday />
            <FormattedDate date={pubDate} />
          </div>
          <div
            id="updated-date"
            transition:name={`updated-date-${slug}`}
            class="tooltip flex items-center gap-1"
            data-tip="上次更新日期"
          >
            <IconHistory />
            <FormattedDate date={updatedDate} />
          </div>
          <div
            id="minutes-read"
            transition:name={`minutes-read-${slug}`}
            class="tooltip flex items-center gap-1"
            data-tip="预计阅读时间"
          >
            <IconTimer />
            {minutesRead}
          </div>
        </div>
      </header>
      <div id="article-body" class="mx-auto prose w-full p-4">
        <div id="article-main" class="mx-auto">
          {
            description && (
              <blockquote
                id="article-description"
                class="mb-0 border-l-4 border-base-300 bg-base-200 px-4 py-3 text-left text-sm leading-relaxed text-base-content not-italic"
                transition:name={`description-${slug}`}
              >
                {description}
              </blockquote>
            )
          }
          {headings.length !== 0 && <TopToc id="table-of-contents" headings={headings} class="py-4" />}
          <slot />
          <style is:global>
            @reference "tailwindcss";

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
              --link-opacity: 0%;
              &:hover {
                --link-opacity: 100%;
              }
            }
            .icon-link {
              @apply absolute opacity-(--link-opacity) transition-opacity;
            }
            .icon-link::before {
              @apply -ml-6 inline-block size-0 text-lg content-['🔗'];
            }

            /* @media (prefers-color-scheme: dark) {
              .astro-code,
              .astro-code span {
                color: var(--shiki-dark) !important;
                background-color: var(--shiki-dark-bg) !important;
                font-style: var(--shiki-dark-font-style) !important;
                font-weight: var(--shiki-dark-font-weight) !important;
                text-decoration: var(--shiki-dark-text-decoration) !important;
              }
            } */
            /* Use @apply to compatible with Tailwind CSS dark mode */
            .astro-code,
            .astro-code span {
              @apply dark:bg-(--shiki-dark-bg)! dark:font-(--shiki-dark-font-weight)! dark:text-(--shiki-dark)! dark:[font-style:var(--shiki-dark-font-style)]! dark:[text-decoration:var(--shiki-dark-text-decoration)]!;
            }
          </style>
        </div>
        <div id="copyright-notice" class="divider">版权声明</div>
        <p id="copyright-text" class="mx-auto">
          本页面内容，除特别声明外，均采用 <a
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh-hans"
            target="_blank"
            class="link">CC BY-NC-SA 4.0 Deed</a
          > 协议授权。<div class="divider" id="comments-area-divider">评论区</div>
          <Comments id="comments-area" term={term} client:idle client:only="svelte" />
          <noscript id="comments-area-noscript">
            评论区需要 JavaScript 支持，但您的浏览器不支持 JavaScript 或 JavaScript 被禁用了。
            <br />
            请开启 JavaScript 或者使用支持 JavaScript 的浏览器。
          </noscript>
        </p>
      </div>
    </article>
    <Footer slot="footer" />
  </main>
</BaseLayout>
